<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Hola</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Aquí puedes incluir otros CSS del tema -->
</head>
<body>
    <header class="saaslauncher-header">
        <nav class="saaslauncher-navigation wp-block-navigation">
            <ul class="wp-block-navigation__container">
                <li class="wp-block-navigation-item">
                    <a href="{% url 'home' %}" 
                       class="wp-block-navigation-item__content">Home</a>
                </li>
                <li class="wp-block-navigation-item has-child">
                    <a href="{% url 'about' %}" 
                       class="wp-block-navigation-item__content">About</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <img src="{% static 'images/1.png' %}" alt="nombre"/>
    
    <!-- Incluir archivos JS del tema -->
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/saaslauncher-scripts.js' %}"></script>
    <!-- Aquí puedes incluir otros JS del tema -->
</body>
</html>